.a-btn{
  z-index: 4;
    width:120px;
    height:120px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display:block;
    margin:20px;
    float:right;
    background:#f0ad4e;
    position:relative;
    right: 0;
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #fff;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span{
    text-decoration: none;
    display:table-cell;
    width:80px;
    height:80px;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-size:26px;
    color:#fff;
    text-shadow:0px 1px 1px #A03F16;
    font-family:"Arvo", "Myriad Pro", "Trebuchet MS", sans-serif;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span:nth-child(1), 
.a-btn span:nth-child(3){
    position:absolute;
    top:0;
    left:0;
    font-size:34px;/*40*/
    line-height:85px;/*36*/
    opacity:0;
}
.a-btn span:nth-child(1){
    background:transparent url(../img/star.png) no-repeat center center;
    opacity:0.2;
}
.a-btn:hover{
    background:rgba(170, 77, 27, 1);
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
}
.a-btn:hover span:nth-child(3){
    opacity:1;
}
.a-btn:hover span:nth-child(2){
    opacity: 0; 
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.a-btn:hover span:nth-child(1){
    -webkit-animation:rotate 1s linear;
    -moz-animation:rotate 1s linear;
    animation:rotate 1s linear;
}
.a-btn:active{
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(170, 77, 27, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
}
.a-btn:active span:nth-child(2){
    color:rgba(170, 77, 27, 0.8);
    text-shadow:0px 1px 1px rgba(255, 255, 255, 0.6);
}
@keyframes rotate{
    0% { transform: scale(1) rotate(0);}
    50% { transform: scale(0.5) rotate(180deg);}
    100% { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes rotate{
    0% { -webkit-transform: scale(1) rotate(0);}
    50% { -webkit-transform: scale(0.5) rotate(180deg);}
    100% { -webkit-transform: scale(1) rotate(360deg);}
}
@-moz-keyframes rotate{
    0% { -moz-transform: scale(1) rotate(0);}
    50% { -moz-transform: scale(0.5) rotate(180deg);}
    100% { -moz-transform: scale(1) rotate(360deg);}
}

body {
  margin : 0;
  padding: 0;
  overflow: hidden;
}
.exton-error-browser {
  position: relative;
  top : 100px;
  width: 100%;
}
.exton-edition-list {
  padding:10px 15px 25px 0;
  display: block;
  float: left;
}
.exton-navbar {
  /*padding:0 0 25px 0;*/
  margin-top: 0;
  padding:0 0 25px 0;
  margin-bottom: 10px;
  position:relative;
}
.exton-nav {
  list-style: none;
  display: inline;
}
.exton-nav > li {
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
  margin-right: 10px;
  float: left;
}
.exton-nav li a {
  text-decoration: none;
}
.exton-nav li.active{
  background-color: #ffffff;
  color: #17265f;
}
.exton-nav li:not(.active):hover{
  background-color: #ffffff;
  color: #17265f;
}

.exton-edition {
  color: #aaaaaa;
  margin-left: 100px;
}
.exton-unit {
  margin-bottom: 2px;
  padding: 0 9px 9px 9px;
  color: #ffffff;
  border-radius: 0;
}

.exton-unit-old {
  margin-bottom: 2px;
  padding: 0 9px 0 9px;
  color: #ffffff;
  border-radius: 0;
}

.exton-unit-old .page-header {
  margin-top: 0;
  margin-bottom: 3px;
}

.exton-unit .page-header {
  margin-bottom: 3px;
}
.exton-unit .page-header h2 img {
  vertical-align: bottom;
}
.exton-thumbnail {
  background-color: #17265f;
  border-radius: 0;
  padding-top: 4px;
  cursor: pointer;
}
.exton-thumbnail .caption {
  color: #ffffff;
  text-align: justify;
}
.exton-thumbnail .caption .page-header{
  text-align: left;
}
.exton-thumbnail .caption a {
  color: #999999;
  text-align: right;
}
.exton-thumbnail:hover {
  background-color: #383D54;
}
.exton-header {
  background-color: #17265f;
  color: #ffffff;
}
.exton-header button {
  color: #ffffff;
}
.exton-quote {
  margin-left: 10px;
}
.exton-text {
  text-align: justify;
}
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.5;
}
.modal-body {
  max-height: 800px;
}
.modal-body .page-header {
  padding-bottom: 0;
}
.exton-carousel {
  margin-bottom: 0;
}
.exton-phase-desc {
  font-size: 11px;
  line-height: 14px;
  margin-bottom: 5px;
}
.exton-desc-small {
  margin: 0 5px;
}
.exton-desc-small h4 small {
  white-space: nowrap;
}
.exton-gray{
  color : #999999;
}
.exton-phase-countdown {
  text-align: left;
}
.exton-control {
  top : 50%;
}
.exton-logo {
  margin-top: 5px;
}
.exton-modal-header {
  margin-bottom: 5px;
}