<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prix Exton Grandes Écoles</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/styles.css" rel="stylesheet">
  <script data-main="./js/app" src="./lib/require.js"></script>

</head>

<body>

  <div class="container">
    <section id="hero">
      <!-- header -->
    </section>
    <section id="teams">
      <!-- layout -->
    </section>
  </div>

<!-- ################################# -->
<!-- #############LAYOUTS############# -->
<!-- ################################# -->

<!-- init layout -->
<script type="text/template" id="init-layout">
  <ul class="thumbnails exton-small-list">
    <!-- teams list -->
  </ul>
</script>
<!-- final layout -->
<script type="text/template" id="final-layout">
  <ul class="thumbnails exton-medium-list">
    <!-- teams list -->
  </ul>
</script>
<!-- results layout -->
<script type="text/template" id="results-layout">
  <ul class="thumbnails exton-results-list">
  <!-- teams list -->
  </ul>
</script>
<!-- ################################# -->
<!-- ##############HEADERS############ -->
<!-- ################################# -->
<script type="text/template" id="exton-header">
  <div class="hero-unit exton-unit">
  <a href="<%= voteLink %>" class="a-btn exton-vote" target="_blank">
    <span></span>
    <span>Votez</span>
    <span>Votez</span>
    </a>
    <div class="page-header">
      <h2><img src="./img/prixlogo.png" alt="" width="300" height="50"/> <span class="exton-edition">  Édition <%= year %></span></h2>
    </div>
  </div>

  <div class="row-fluid exton-phase-desc">
    <div class="span9 exton-text"><h4 class="lead"><%= desc %></h4></div>
    <iframe src="https://www.facebook.com/plugins/like.php?href=https://www.facebook.com/pages/Prix-Exton-Grandes-Ecoles/474092315979143"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:60px"></iframe>
  </div>
</script>
<script type="text/template" id="exton-header-old">
  <div class="hero-unit exton-unit-old">
    <div class="page-header">
      <h2><img src="./img/prixlogo.png" alt="" width="300" height="50"/></h2>
    </div>
    <div class="exton-navbar">
        <div class="exton-edition-list">Éditions précédentes</div>
        <ul class="exton-nav">
        </ul>
      </div>
    </div>
  </div>

  <div class="row-fluid exton-phase-desc">
    <div class="span12"><h4 class="lead"> Retrouvez le lauréat du prix et les 3 finalistes.</h4></div>
  </div>
</script>
<!-- ################################# -->
<!-- ##############TEAMS############## -->
<!-- ################################# -->
<script type="text/template" id="small-team-desc">
  <div class="thumbnail exton-thumbnail" role="button" data-toggle="modal">
    <img src="<% if(imgSemi!=null){ print('./img/teams/'+imgSemi); } else { print('http://placehold.it/230x150'); } %>" alt="" width="230" height="150">
    <div class="caption">
      <div class="page-header exton-desc-small">
        <h4><%= name %><br><small><%= school %></small></h4>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="medium-team-desc">
  <div class="thumbnail exton-thumbnail">
    <img src="<% if(imgFinal!=null){ print('./img/teams/'+imgFinal); } else { print('http://placehold.it/360x200'); } %>" alt="" width="360" height="200">
    <div class="caption">
      <div class="page-header exton-desc-small">
        <h4><%= name %><br><small><%= school %></small></h4>
      </div>
    </div>
  </div>
</script>
<script type="text/template" id="results-team-desc-first">
  <div class="thumbnail exton-thumbnail">
      <div class="row-fluid">
        <div class="span8">
          <img src="<% if(imgFirst!=null){ print('./img/teams/'+imgFirst); } else { print('http://placehold.it/500x350'); } %>" alt="">
        </div>
        <div class="span4">
          <div class="caption">
            <div class="page-header">
              <h4><%= name %><br><small><%= school %></small></h4>
            </div>
            <p><em>Leur projet : </em><%= synthesis %></p>
            <br>
            <blockquote class="pull-right">
              <p>&ldquo;<%= presWords %>&rdquo;</p>
              <small>Le mot du président, <cite title="Source Title"><%= president %></cite></small>
            </blockquote>
          </div>
        </div>
      </div>
  </div>
</script>
<script type="text/template" id="results-team-desc">
    <div class="thumbnail exton-thumbnail" role="button" data-toggle="modal">
      <img src="<% if(imgResults!=null){ print('./img/teams/'+imgResults); } else { print('http://placehold.it/230x150'); } %>" alt="" width="230" height="150">
      <div class="caption">
        <div class="page-header exton-desc-small">
          <h4><%= name %><br><small><%= school %></small></h4>
        </div>
      </div>
    </div>
</script>
<!-- ################################# -->
<!-- #############MODALS############## -->
<!-- ################################# -->
<script  type="text/template" id="modal-team">
  <div class="modal-header exton-header">
    <h3 id="myModalLabel"><%= name %></h3>
  </div>
  <div class="modal-body">
    <div id="carousel-team-<%= id %>" class="carousel exton-carousel slide"><!-- class of slide for animation -->
      <ol class="carousel-indicators">
        <% var j = 0; %>
        <% images.forEach(function(img){ %>
        <li data-target="#carousel-team-<%= id %>" data-slide-to="
        <% print(j); %>"<% if(j===0) { %> class="active" <% } %>></li>
        <% j++; %>
        <% }); %>
      </ol>
      <div class="carousel-inner">
        <% var i = 0; %>
        <% images.forEach(function(img){ %>
        <div class="item<% if(i===0){ print(' active'); }%>">
          <img src="./img/teams/<% print(img); %>" alt="" height="300px" width="530px"/>
        </div>
        <% i++; %>
        <% }); %>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below href values must reference the id for this carousel -->
      <a class="carousel-control exton-control left" href="#carousel-team-<%= id %>" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control exton-control right" href="#carousel-team-<%= id %>" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    <!-- team content here -->
    <div class="row-fluid">
      <div class="span6">
        <% if(typeof logo !='undefined' && logo || undefined){ %><div class="pull-right exton-logo"><img src="./img/teams/<%= logo %>" alt="" /></div><% } %>
        <div class="page-header exton-modal-header">
          <h4>L&#39;association</h4>
        </div>
        <h5><small>L&#39;école</small> <%= school %></h5>
        <h5><small>Le président</small> <%= president %></h5>
        <!--<p><span class="exton-gray">l&#39;association </span><%= descAsso %></p>-->
        <p class="exton-text"><%= descAsso %></p>
        <h5><small>Leur site</small> <a href="<%= website %>" target="_blank"><%= website %></a></h5>
      </div>
      <div class="span6">
        <div class="page-header exton-modal-header">
          <h4>Leur projet </h4>
        </div>
        <p class="exton-text"><%= descProject %></p>
      </div>
    </div>
    <!-- ./ team content -->
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
  </div>
</script>
<script type="text/template" id="error-template">
  <div class="alert alert-error exton-error-browser">
    <h4>Attention!</h4>
    Veuillez utiliser la dernière version d&#39;Internet Explorer (10 et ultérieur), sinon passez à <a href="http://www.google.com/intl/fr/chrome/">Chrome</a> ou <a href="http://http://www.mozilla.org/fr/firefox/new/">Firefox</a>.
  </div>
</script>
<div id="fb-root"></div>
</body>
</html>