<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Prix Exton Grandes Écoles</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/datepicker.css" rel="stylesheet">
  <script data-main="./templates/admin" src="../lib/require.js"></script>
  <style type="text/css">
  .exton-thumb {
    height : 100px;
  }
  .exton-thumb img{
    max-width:100%;
    max-height:100%;
  }
  </style>
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="brand" href="#">Prix Exton - Admin</a>
        <ul class="nav" role="navigation">
          <li class="dropdown">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Prix <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#add/price">Ajouter</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#prices">Liste</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Equipes <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#add/team">Ajouter</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#teams">Liste</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <div class="container content">

  </div>
<!-- ################################# -->
<!-- ##############TEAMS############## -->
<!-- ################################# -->
  <script type="text/template" id="teams-layout">
    <caption><legend>Équipes</legend></caption>
    <thead>
      <tr>
      <th>#</th>
      <th>Année</th>
      <th>Nom</th>
      <th>École</th>
      <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </script>
  <script type="text/template" id="team-view">
    <td><%= id %></td>
    <td><%= year %></td>
    <td><%= name %></td>
    <td><%= school %></td>
    <td><a href="#add/team/<%= id %>">edit</a> - <a href="#delete/team/<%= id %>">delete</a></td>
  </script>
  <script type="text/template" id="team-edit">
    <legend><% if(typeof id !='undefined' && id || undefined){print('Éditer');} else { print('Ajouter'); }%> une équipe</legend>
    <% if(typeof id !='undefined' && id || undefined){ %>
    <div class="control-group">
      <label class="control-label" for="team-id">Id</label>
      <div class="controls">
        <input type="text" id="team-id" placeholder="Id"
        <% if(typeof id !='undefined' && id || undefined){print('value="'+id+'"" disabled');}%>
        >
      </div>
    </div>
    <% } %>
    <div class="control-group">
      <label class="control-label" for="year">Année</label>
      <div class="controls">
        <input type="text" id="year" placeholder="Année"
        <% if(typeof year !='undefined' && year || undefined){print('value="'+year+'"');}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="team-name">Nom</label>
      <div class="controls">
        <input type="text" id="team-name" placeholder="Nom"
        <% if(typeof name !='undefined' && name || undefined){print('value="'+name+'"');}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="team-school">École</label>
      <div class="controls">
        <input type="text" id="team-school" placeholder="École"
        <% if(typeof school !='undefined' && school || undefined){print('value="'+school+'"');}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="team-website">Site</label>
      <div class="controls">
        <input type="text" id="team-website" placeholder="Site"
        <% if(typeof website !='undefined' && website || undefined){print('value="'+website+'"');}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="team-president">Président</label>
      <div class="controls">
        <input type="text" id="team-president" placeholder="Président"
        <% if(typeof president !='undefined' && president || undefined){print('value="'+president+'"');}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="president-words">Mots du Président</label>
      <div class="controls">
        <textarea rows="5" id="president-words" class="input-block-level"><% if(typeof presWords !='undefined' && presWords || undefined){print(presWords);}%></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="team-desc">Association description</label>
      <div class="controls">
        <textarea rows="5" id="team-desc" class="input-block-level"><% if(typeof descAsso !='undefined' && descAsso || undefined){print(descAsso);}%></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="project-desc">Projet description</label>
      <div class="controls">
        <textarea rows="5" id="project-desc" class="input-block-level"><% if(typeof descProject !='undefined' && descProject || undefined){print(descProject);}%></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="team-synthesis">Synthèse</label>
      <div class="controls">
        <textarea rows="5" id="team-synthesis" class="input-block-level"><% if(typeof synthesis !='undefined' && synthesis || undefined){print(synthesis);}%></textarea>
      </div>
    </div>
    <!-- ##########IMAGES############ -->
    <% if(typeof imgs !='undefined' && imgs || undefined){console.log(imgs); }%>
    <label><h4>Images</h4></label>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary team-save">Enregister</button>
      <button type="button" class="btn team-back">Retour</button>
      <% if(typeof id !='undefined' && id || undefined){ %>
        <button type="button" class="btn btn-danger team-delete">Supprimer</button>
      <% } %>
    </div>
  </script>
  <script type="text/template" id="team-view-img">
    <!--<div class="control-group exton-<%= name %>-cg">-->
      <label class="control-label"><%= context %> - <%= name %></label>
      <div class="controls">
        <input type="file" name="<%= name %>" class="exton-<%= context %>-img">
        <% if(controls) { %>
        <button type="button" class='exton-add-img'>+</button>
        <button type="button" class='exton-del-img' data-cg="<%= name %>">-</button>
        <% } %>
        <% if(typeof img !='undefined' && img || undefined){ %>
        <% if(img==='' || img===null) { print('<b>no image</b>'); } else { %>
          <div class="exton-thumb"><img src="../img/teams/<%= img %>" alt=""></div>
        <% } %>
        <% } %>
      </div>
    <!--</div>-->
  </script>
<!-- ################################# -->
<!-- #############PRICES############## -->
<!-- ################################# -->
  <script type="text/template" id="prices-layout">
    <caption><legend>Prix</legend></caption>
    <thead>
      <tr>
      <th>#</th>
      <th>Année</th>
      <th>Activé</th>
      <th>Finalistes</th>
      <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </script>
  <script type="text/template" id="price-view">
    <td><%= id %></td>
    <td><%= year %></td>
    <td><%= activated %></td>
    <td><%= finalists %></td>
    <td><a href="#add/price/<%= id %>">edit</a> - <a href="#delete/price/<%= id %>">delete</a></td>
  </script>
  <script type="text/template" id="price-edit">
    <legend>Ajouter un prix</legend>
    <% if(typeof id !='undefined' && id || undefined){ %>
    <div class="control-group">
      <label class="control-label" for="team-id">Id</label>
      <div class="controls">
        <input type="text" id="team-id" placeholder="Id"
        <% if(typeof id !='undefined' && id || undefined){print('value="'+id+'"" disabled');}%>
        >
      </div>
    </div>
    <% } %>
    <div class="control-group">
      <label class="control-label" for="year">Année</label>
      <div class="controls">
        <input type="text" id="year" placeholder="Année" class="input-large"
        <% if(typeof year !='undefined' && year || undefined){print('value='+year);}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="finalists">Finalistes</label>
      <div class="controls">
        <input type="text" id="finalists" placeholder="Finalistes" class="input-large"
        <% if(typeof finalists !='undefined' && finalists || undefined){print('value='+finalists);}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="price-vote">Lien du vote</label>
      <div class="controls">
        <input type="text" id="price-vote" placeholder="Lien du vote" class="input-block-level"
        <% if(typeof voteLink !='undefined' && voteLink || undefined){print('value='+voteLink);}%>
        >
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Actif</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" class="price-activated" id="price-activated">
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Demi-finale</label>
      <div class="controls">
        <% if(typeof phases !='undefined' && phases || undefined){ %>
          <div class="input-append date" id="dpSemiFinal" data-date="<%= phases.init.date %>" data-date-format="yyyy-mm-dd">
            <input id="semi-date" class="span2" size="16" type="text" value="<%= phases.init.date %>">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        <% } else { %>
        <div class="input-append date" id="dpSemiFinal" data-date="<% print(this.getIsoDate()); %>" data-date-format="yyyy-mm-dd">
          <input id="semi-date" class="span2" size="16" type="text" value="<% print(this.getIsoDate()); %>">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <% } %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Demi-finale description</label>
      <div class="controls">
        <textarea rows="3" id="semi-desc" class="input-block-level"><% if(typeof phases !='undefined' && phases || undefined){ print(phases.init.desc); }%></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Finale</label>
      <div class="controls">
        <% if(typeof phases !='undefined' && phases || undefined){ %>
          <div class="input-append date" id="dpFinal" data-date="<%= phases.final.date %>" data-date-format="yyyy-mm-dd">
            <input id="final-date" class="span2" id="final-date" size="16" type="text" value="<%= phases.final.date %>">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        <% } else { %>
        <div class="input-append date" id="dpFinal" data-date="<% print(this.getIsoDate()); %>" data-date-format="yyyy-mm-dd">
          <input id="final-date" class="span2" size="16" type="text" value="<% print(this.getIsoDate()); %>">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <% } %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Finale description</label>
      <div class="controls">
        <textarea id="final-desc" rows="3" class="input-block-level"><% if(typeof phases !='undefined' && phases || undefined){ print(phases.final.desc); }%></textarea>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Results</label>
      <div class="controls">
        <% if(typeof phases !='undefined' && phases || undefined){ %>
          <div class="input-append date" id="dpResults" data-date="<%= phases.results.date %>" data-date-format="yyyy-mm-dd">
            <input id="results-date" class="span2" size="16" type="text" value="<%= phases.results.date %>">
            <span class="add-on"><i class="icon-th"></i></span>
          </div>
        <% } else { %>
        <div class="input-append date" id="dpResults" data-date="<% print(this.getIsoDate()); %>" data-date-format="yyyy-mm-dd">
          <input id="results-date" class="span2" size="16" type="text" value="<% print(this.getIsoDate()); %>">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <% } %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Résultats description</label>
      <div class="controls">
        <textarea id="results-desc" rows="3" class="input-block-level"><% if(typeof phases !='undefined' && phases || undefined){ print(phases.results.desc); }%></textarea>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary price-save">Enregister</button>
      <button type="button" class="btn price-back">Retour</button>
      <% if(typeof id !='undefined' && id || undefined){ %>
        <button type="button" class="btn btn-danger price-delete">Supprimer</button>
      <% } %>
    </div>
  </script>
</body>
</html>